/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    justify-content: center;
    max-width: 1440px;
    margin: auto;
}

html, body {
    height: 100%;
}

.main-container {
    
    width: 100%;
    max-width: 1440px; 
    padding: 0 50px; 
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
}
a {
    color: #000;
}

i {
    color: var(--main-color);
}

/******* header *******/
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 79px; 
    margin-bottom: 30px; 
}

/* Logo */
.top-nav img {
    width: 61px; 
    height: 19px; 
    padding: 30px 50px 30px 0px; 
}

nav {
    display: flex;
    gap: 68px;         
    height: 33px;      
    padding: 0 0 0 50px; 
}

/* Liens */
nav ul.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}
nav ul.menu li a {
    text-decoration: none;
    color: black;
    font-size: 16px;   
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 14px; 
}

/* MODIFICATION : Effet de soulignement au survol EN HAUT pour desktop/tablette */
nav ul.menu li a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
}

nav ul.menu li a:hover::after,
nav ul.menu li a:active::after,
nav ul.menu li a:focus::after,
nav ul.menu li a.active::after {
    background-color: var(--main-color);
}

nav ul.menu li a:hover,
nav ul.menu li a:active,
nav ul.menu li a:focus,
nav ul.menu li a.active {
    color: var(--main-color);
}

/********* main search-bar *********/
.search-bar {
    margin-top: 30px; 
}

.search-bar h1 {
    margin-bottom: 8px; 
}

.search-bar p {
    margin-top: 8px; 
    margin-bottom: 35px; 
    color: rgb(78, 77, 77);
}

.search-bar .map {
    display: flex;
}

.search-bar .fa-solid {
    background-color: #F2F2F2;
    color: #000;
    border-radius: 15px 0 0 15px; 
    height: 49px; 
    width: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17.92px; 
    cursor: pointer;
}

.search-bar input {
    position: relative;
    height: 49px; 
    width: 236px; 
    border: 1px solid #F2F2F2; 
    font-weight: bold;
    font-size: 19.04px; 
}

.search-bar input::placeholder {
    color: black;
    padding: 0 20px; 
}

.search-bar #search-desktop {
    border-radius: 0 15px 15px 0; 
    border: none;
    height: 49px; 
    width: 132px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    background-color: #0065FC;
    cursor: pointer;
}

.search-bar #search-mobile {
    display: none;
}

/**********filters-section-icon*************/
.filters-section {
    display: flex;
    margin: 35px 0 0 0; 
    align-items: center;
    gap: 15px; 
}

.filters-section p {
    font-weight: bold;
}

.filters-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px; 
}

.filters-types {
    display: flex;
    align-items: center;
    height: 50px; /* 3.125rem */
    border: 2px solid #d9d9d9; /* 0.125rem */
    border-radius: 40px; /* 2.5rem */
    padding: 4px 19px; /* 0.25rem 1.1875rem */
    transition: 0.3s;
    gap: 10px; /* 0.625rem */
    box-sizing: border-box;
}

.filters-types:hover {
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    cursor: pointer;
}

.filters-types:hover .filters-icons {
    transform: rotate(15deg);
}

/** info-section **/
.info-section {
    margin-top: 35px; /* 2.1875rem */
    margin-bottom: 35px; /* 2.1875rem */
}

.searchplus {
    display: flex;
    align-items: center;
    height: 24px; /* 1.5rem */
    gap: 10px; /* 0.625rem */
}

.searchplus .fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 1px solid #d9d9d9; /* 0.0625rem */
    width: 24px; /* 1.5rem */
    height: 24px; /* 1.5rem */
    font-size: 13px; /* 0.81rem */
    border-radius: 50%;
}

.searchplus p {
    font-size: 17px; /* 1.06rem */
    color: rgb(59, 59, 59);
}

/********* main *********/
.section-title {
    margin: 0;
    font-size: 22px; /* 1.375rem */
}

.card {
    background-color: white;
    border-radius: 20px; /* 1.25rem */
    padding: 5px; /* 0.3125rem */
    filter: drop-shadow(0 3px 15px rgba(0, 0, 0, 0.1)); /* 0 0.1875rem 0.9375rem */
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px; /* 1rem */
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

.card-rating {
    color: #0065FC;
}

.card-rating-héber {
    color: #0065FC;
    margin: 0 0 0 15px; /* 0.9375rem */
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

/****** Card Hebergements ***********/
.hebergements {
    width: 67%;
    background-color: var(--main-bg-color);
    border-radius: 20px; /* 1.25rem */
    padding: 30px; /* 1.875rem */
    box-sizing: border-box;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lien-card {
    width: 30%;
    min-width: 120px; /* 7.5rem */
    background-color: white;
    padding: 5px; /* 0.3125rem */
    margin-top: 33px; /* 2.0625rem */
    border-radius: 15px; /* 0.9375rem */
    box-shadow: 5px 5px 10px #DADADA; /* 0.3125rem 0.3125rem 0.625rem */
    transition: 0.3s;
}

.lien-card img {
    width: 100%;
    height: 120px; /* 7.5rem */
    object-fit: cover;
    border-top-left-radius: 20px; /* 1.25rem */
    border-top-right-radius: 20px; /* 1.25rem */
}

.card-title-héber {
    margin: 1px 0 8px 15px; /* 0.0625rem 0 0.5rem 0.9375rem */
}

.card-subtitle-héber {
    margin: 8px 0 8px 15px; /* 0.5rem 0 0.5rem 0.9375rem */
}

.text-fin-héber {
    font-size: 18px; /* 1.125rem */
    margin-top: 33px; /* 2.0625rem */
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px; /* 1.25rem */
    padding: 30px; /* 1.875rem */
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px; /* 2.0625rem */
}

.populaires-cards img {
    width: 33%;
    height: 136px; /* 8.5rem */
    border-top-left-radius: 20px; /* 1.25rem */
    border-bottom-left-radius: 20px; /* 1.25rem */
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px; /* 0.9375rem */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px; /* 0.625rem */
    margin-bottom: 4px; /* 0.25rem */
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px; /* 0.3125rem */
}

/*******Activités card*********/
#activités-section {
    margin-bottom: 35px; /* 2.1875rem */
    padding: 30px; /* 1.875rem */
}

#activités-section h2 {
    font-size: 22px; /* 1.375rem */
    margin-top: 0;
    margin-bottom: 30px; /* 1.875rem */
}

.activités-list {
    display: flex;
    align-items: flex-start;
    gap: 30px; /* 1.875rem */
}

.activités-card {
    width: 30%;
}

.activités-card article {
    background-color: #ffffff;
    border-radius: 20px; /* 1.25rem */
    box-shadow: 5px 5px 15px #DADADA; /* 0.3125rem 0.3125rem 0.9375rem */
    overflow: hidden;
    transition: 0.3s;
}

.activités-card img {
    width: 100%;
    height: 380px; /* 23.75rem */
    object-fit: cover;
    border-radius: 20px 20px 0 0; /* 1.25rem 1.25rem 0 0 */
}

.activités-card h3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 16px; /* 1rem */
    padding: 20px 19px; /* 1.25rem 1.1875rem */
    gap: 10px; /* 0.625rem */
    margin: 0;
}

/********footer***********/
.global-footer {
    max-width: 1440px; /* 90rem */
    margin: auto;
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    padding: 20px; /* 1.25rem */
    margin-bottom: -10px; /* -0.625rem */
}

.footer-menu {
    width: 33%;
}

.title-footer {
    font-size: 18px; /* 1.125rem */
    margin-top: 0;
    margin-bottom: 0;
}

.footer-menu ul {
    padding-left: 0;
    margin: 0;
}

.footer-menu li {
    margin-top: 15px; /* 0.9375rem */
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 64rem) */
@media screen and (max-width: 960px) {
    /** media global **/ 

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .global-nav ul {
        margin: 14px 50px 0 50px;
    }

    .filters-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }

    .info-section {
        margin-bottom: 0;
    }

    .searchplus .fa-info {
        width: 24px;
        height: 24px;
    }

    .hebergements {
        width: 100%;
        margin-top: 50px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    #activités-searchresults {
        margin-top: 35px;
    }

    .activités-list {
        display: flex;
        width: 100%;
        object-fit: cover;
    }

    .activités-card article {
        width: 100%;
    }

    .activités-card img {
        height: 200px;
    }

    .activités-card h3 {
        width: 73%;
        height: 20px;
    }

    .global-footer {
        gap: 30px;
    }
}

/** Smartphones **/
@media screen and (max-width: 780px)  {
    .main-container {
        padding: 0;
    }

    .top-nav {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .top-nav img {
        padding: 30px;
    }

    .top-nav nav {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .menu {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;
        gap: 0;
    }

    .menu li {
        width: 50%;
        margin: 0;
        padding: 0;
    }

    .menu a {
        width: 100%;
        border-bottom: 2px solid transparent;
        border-top: 2px solid transparent;
        border-top: 0;
        padding: 15px 0;
        margin: 0;
        text-align: center;
        display: block;
        box-sizing: border-box;
        text-decoration: none;
    }

    /* MODIFICATION : Barre bleue en BAS pour mobile */
    nav ul.menu li a::after {
        top: auto;
        bottom: 0;
    }

    .menu a:hover,
    .menu a:active,
    .menu a:focus {
        border-top: 2px solid transparent; 
        border-bottom: 2px solid var(--main-color);
    }

    .search-bar {
        padding: 0 20px;
    }

    .map #search-mobile {
        padding: 0;
        width: 49px;
        display: flex;
        border-radius: 15px;
        height: 49px;
        position: relative;
        right: 15px;
        align-items: center;
        font-weight: bold;
        justify-content: center;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .map #search-desktop {
        display: none;
    }

    .map i {
        background-color: var(--main-color);
        color: #ffffff;
        height: 0;
    }

    .filters-section {
        display: flex;
        padding: 0 20px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }

    .filters-list {
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0;
    }

    .filters-types {
        width: 49%;
        margin-bottom: 20px;
        font-size: 13px;
    }

    .info-section {
        padding: 0 20px;
    }

    .searchplus .fa-info {
        max-width: 24px;
        max-height: 24px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .hebergements {
        display: block;
        width: 100%;
        padding: 20px;
        margin-bottom: 35px;
        background-color: #ffffff;
    }

    .hebergements .section-title {
        margin-bottom: 15px;
        text-align: center;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .lien-card {
        width: 97%;
        margin-top: 0;
    }

    .text-fin-héber {
        margin-top: 15px;
    }

    .populaires {
        width: 100%;
        flex-direction: column;
        border-radius: 0;
        padding: 30px 20px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: column;  
        align-items: flex-start;
        gap: 15px;
    }
    
    .populaires-cards .card {
        width: 100%;  
    }

    .card {
        width: 98%;
        height: 146px;
    }

    .card img {
        height: 146px;
    }

    #activités-section {
        display: flex;
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .activités-list {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .activités-card {
        width: 100%;
    }

    .activités-card img {
        width: 100%;
        height: 141px;
    }

    .global-footer {
        padding: 30px;
        flex-direction: column;
        gap: 50px;
    }

    .footer-menu {
        width: 263px;
    }

    .footer-menu h4 {
        margin-bottom: 15px;
    }

    .footer-menu li {
        margin-top: 0;
    }

    .footer-menu ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}
